<div class="row" style="margin-top: 20px">
	<div class="col-xs-6 text-left">
		<a href="http://www.vpascual.org">Go back to the home page</a>
	</div>
	<div class="col-xs-6 text-right">
		<a href="http://www.vpascual.org/blog">Go back to my blog</a>
	</div>
</div>
<div class="row" style="margin-top: 20px">
<p>Each row represents a year in my life, out of the expected 85 years I'm meant to life (fingers crossed!). Rows are divided in the 52 weeks that each year has. Colors are assigned according to the different 'seasons' of my life. From my early years until now. Some seasons have a link attached to it, so clicking on any week of that period will show a reference on what I was doing or where I was doing it.</p>
</div>
<div class="row text-center">
	<grid data="data"></grid>
</div>